.dss-main{
    margin-top: 2vh;
    display: flex;
    flex-flow: row nowrap;
}
.dss-main-tree{
    width: 20%;
}
.dss-main-table{
    width: 80%;
}
.dsm-header{
    display: flex;
    flex-flow: row nowrap;
}

.dsm-header-search{
    width: 30vw;
    margin-left: auto;
}

.dsm-header-delete{
    margin-left: 1.5vw;
}

.dsm-main{
    margin: 2vh 0 2vh 0;
}
.dcm-header{
    display: flex;
    flex-flow: row nowrap;
}
.dcm-main{
    margin: 2vh 0 2vh 0;
}
.dcm-header-search{
    width: 30%;
    margin-left: auto;
}