
.home-content{
    margin: 2vh 2vh 2vh 2vh;
    height: 82vh;
}
.card{
    width: 100%;
    height: 100%;
}
.home-footer{
    height: 7vh;
    background: linear-gradient(to right, #5f2c82, #49a09d);
}
